- title "Home", false
%h1{style: "text-align: center; margin-top:30px"}
  Manage the details of our family and friends' yahrzeits.
-# %p{style: "font-size:150%"}
%div{style: "text-align: center"}
  = link_to "Go to your People List", people_path, class: "btn btn-primary btn-large"

  
  
