#banner.container-fluid
  .user_info
    - if current_user
      Logged in as #{current_user.email}
      \|
      = link_to 'logout', logout_path    
  .logo= link_to '', root_path
  %h1 Yahrzeit Minder
